<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="aloksharma.ufl.edu.athome"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>

    <application tools:replace="android:icon,label"
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name_hci"
        android:theme="@style/AppTheme"
        >
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>
        <activity
            android:name=".SignInActivity"
            android:label="@string/app_name_hci"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".ServerAccess"
            android:exported="false" >
        </service>

        <receiver
            android:name=".WifiChangeReceiver"
            android:label="NetworkChangeReceiver" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" >
                </action>
            </intent-filter>
        </receiver>

        <activity
            android:name=".MainActivity"
            android:label="AT HOME"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Registration"
            android:label="Registration"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:label="@string/app_name"
            >
        </activity>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="4f2213328d2b9e4d7377a67bdec824df713f8863" />
    </application>

</manifest>
